.container-footer {
  display: flex;
}
.footer .container {
  display: block;
}
.footer-contact {
  margin-bottom: 0;
}
.footer {
  display: block;
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 30px;
  width: 100vw;

  &__logo-link {
    margin: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    &:hover,
    &:focus {
      text-decoration: underline var(--text-color);
    }
  }

  &__contact {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--text-color);
    }
  }
  &__contact-address {
    font-style: normal;
    display: block;
    margin-bottom: 60px;
  }

  &__address {
    color: var(--accent-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
  }
  &__aside {
    margin-bottom: 30px;
  }
  &__subject {
    color: var(--accent-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    display: flex;
    justify-content: center;
  }
  &__social {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  &__social-item {
    display: flex;
    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: var(--text-color);
    }

    &:hover svg,
    &:focus {
      fill: var(--accent-color);
    }
  }

  &__social-icon {
    fill: var(--accent-color);
  }
}

.footer-box {
  margin-left: auto;
  &__title {
    color: var(--accent-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }

  &__email {
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: transparent;
    width: 270px;
    height: 50px;
    border-radius: 4px;
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #afb1b8;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 10px;
  }

  &__button {
    width: 200px;
    height: 50px;
    background-color: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  &__button-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    color: var(--accent-color);
    padding-left: 28px;
  }
  &__button-icon {
    margin-left: 10px;
    display: flex;
  }
}
@media screen and (min-width: 480px) {
  .footer {
    padding-bottom: 60px;
  }
  .footer__aside {
    margin-bottom: 60px;
  }
  .footer-box__email {
    width: 450px;
    height: 50px;
    margin-bottom: 20px;
  }
  
}

@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    &__contact-address {
      display: inline-block;
    }

    &__aside {
      margin-top: 5px;
      margin-bottom: 0;
    }
  }

  .footer-wrapper {
    display: flex;
    justify-content: space-between;
    padding-right: 89px;
    padding-left: 76px;
  }

  .footer-box {
    width: 450px;
    margin-left: 166px;
  }
}

@media screen and (min-width: 1200px) {
  .footer .container {
    display: flex;
  }
  .footer-wrapper {
    padding: 0;
  }
  .footer__subject {
    justify-content: flex-start;
  }
  .footer__contact-address {
    margin: auto;
  }
  .footer__logo-link {
    justify-content: flex-start;
  }
  .footer__address {
    margin-bottom: 9px;
  }

  .footer__contact {
    justify-content: flex-start;
    margin-bottom: 9px;
  }
  .footer__aside {
    margin-left: 70px;
    margin-top: 12px;
  }
  .footer-box {
    margin-left: 93px;
    margin-top: 12px;
    width: auto;
    &__title {
      justify-content: flex-start;
    }
    &__form {
      display: flex;
    }
    &__button {
      margin-left: 12px;
    }
    &__email {
      width: 358px;
      margin-bottom: 0;
    }
  }
}
