.menu {
  display: none;
}

.nav {
  display: none;
}
 .header {
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;
 }
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobile-menu-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}
.mobile-menu-btn_icon {
  fill: var(--primary-text-color);
}
.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color:aqua;
  height: 100vh;
  overflow: auto;
}
.mobile-menu__close-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  position: absolute;
  top: 10px;
  right: 15px;
}
.mobile-menu__container {
position: relative;
padding-top: 48px;
padding-bottom: 48px;
}
.mobile-menu__list {
 margin-bottom: 306px;
  padding-left: 40px;
}
.mobile-menu__list-item {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  color: var(--primary-text-color)
  
}
.mobile-menu__list li:not(:last-child) {
  margin-bottom: 32px;

}
.mobile-menu__list-item:hover,
.mobile-menu__list-item:focus {
  color: #2196F3;
  cursor: pointer;
}


.mobile-menu__tel {
font-weight: 500;
font-size: 34px;
line-height: 1.17;
color: #2196F3;
padding-left: 40px;


}
.mobile-menu__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  color: #757575;
  padding-left: 40px;
 
}




.mobile-menu__social {
  display: flex;
padding-left: 40px;
margin-top: 64px;
}
.mobile-menu__social-item {
font-weight: 500;
font-size: 18px;
line-height: 1.22;
color: #2196F3;

}
.mobile-menu__social li:not(:last-child) {
margin-right: 20px;
}
/*.header {
  border-bottom: 1px solid #ececec;

  &__container {
    display: flex;
    align-items: center;
  }
}



.menu {
  display: flex;

  & li:not(:last-child) {
    margin-right: 50px;
  }
}

.menu__item {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  text-decoration: none;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--text-color);
  }
}

.menu__item--active {
  color: var(--text-color);

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--text-color);
    bottom: 0;
    left: 0;
    border-radius: 2px;
  }
}

.nav {
  display: flex;
  margin-left: auto;

  & li:not(:last-child) {
    margin-right: 40px;
  }
}

.nav__link {
  display: flex;
  align-items: center;
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--text-color);
  }
}

.nav__icon {
  fill: currentColor;
  margin-right: 10px;

  &:hover,
  &:focus {
    fill: var(--text-color);
  }
}*/
