.wrapper {
  display: flex;
  justify-content: space-between;
  & :not(:last-child) {
    margin-right: 30px;
  }
  &__holder {
    position: relative;
  }
}

.wrapper__text {
  color: var(--accent-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  .wrapper__inner > & {
    display: flex;
    position: absolute;
    width: 370px;
    height: 70px;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(47, 48, 58, 0.8);
  }
}
